<h3>踏入此境</h3>

<form action="/admin" method="post">
    <label for="username"><b>梦境之名</b></label>
    <input type="text" placeholder="请输入您的梦境之名" name="username" required>

    <label for="password"><b>秘钥之语</b></label>
    <input type="password" placeholder="请输入您的秘钥之语" name="password" required>

    <input type="submit" value="进入秘境" class="btn">
</form>

<h3>注册新旅程</h3>
<form action="/register" method="post">
    <label for="username"><b>梦境之名</b></label>
    <input type="text" placeholder="请输入您的梦境之名" name="username" required>

    <label for="password"><b>秘钥之语</b></label>
    <input type="password" placeholder="请输入您的秘钥之语" name="password" required>

    <input type="submit" value="开启新篇章" class="btn">
</form>