<header class="header">
    <a href="/admin" class="header__logo">心灵之窗</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">起点之居</a>
            </li>
            <li>
                <a href="/about" class="">初心物语</a>
            </li>
            <li>
                <a href="/contact" class="">联络之窗</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <a href="/logout">
            归隐一刻
        </a>
    </div>

</header>