<header class="header">
    <a href="/" class="header__logo">时空札记</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">起点之居</a>
            </li>
            <li>
                <a href="/about" class="">初心物语</a>
            </li>
            <li>
                <a href="/contact" class="">联络之窗</a>
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="searchBtn" aria-expanded="false">
            寻觅之窗
        </button>
    </div>

</header>