<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role="search" method="post">
            <input name="searchTerm" aria-label="search" id="searchInput" placeholder="在此寻找心灵的共鸣..." />
        </form>
        <div id="searchClose">暂别此处</div>
    </div>
</div>