<div class="author">
    <h1 class="author__heading">欢迎踏入时光之旅</h1>
    <p class="author__body">在时光的河流中，我们拾起每一个闪烁的瞬间，记录下灵魂深处的低语与思绪。让我们在这里，共同追寻岁月的痕迹，感受光阴的温柔流逝。</p>
</div>

<img src="/img/blackMythWukong.jpg" alt="Black Myth Wukong" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">新篇速览</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>篇名之韵</span>
                <span class="article-list__date">时光印记</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>篇名之韵</span>
                <span class="article-list__date">时光印记</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>篇名之韵</span>
                <span class="article-list__date">时光印记</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; 追溯往昔</a>
</section>